mechanize
colorama
-i https://pypi.org/simple
asn1crypto==0.24.0
backports.functools-lru-cache==1.5 ; python_version < '3'
bcrypt==3.1.6
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
pyopenssl==19.0.0
requests-ntlm==1.1.0
requests==2.21.0
selenium==3.141.0
six==1.12.0
termcolor==1.1.0
terminaltables==3.1.0
urllib3==1.26.5
